$font-family: ('Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$text-color: #554b57;
$text-color-light: #eeee;
$code-background: #eae9ea;
$item-background: #faf9fa;
$divider-color: #8a838c;
$header-background: #744da9;
$main-background: transparent;
$header-shadow: (0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));

@forward 'sassy-design-tokens' with (
  $tokens: (
    'background-color-code': $code-background,
    'background-color-header': $header-background,
    'background-color-item': $item-background,
    'background-color-main': $main-background,
    'border-bottom-table-cell': 0.1rem solid $divider-color,
    'border-item': 0.1rem solid rgba($divider-color, 0.2),
    'border-radius-code': 0.35rem,
    'border-radius-item': 0.5rem,
    'border-width': 0.125rem,
    'box-shadow-header': $header-shadow,
    'color-code': $text-color,
    'color-text': $text-color,
    'color-text-light': $text-color-light,
    'font-family': $font-family,
    'font-family-code': monospace,
    'font-size': 1rem,
    'font-size-bold': inherit,
    'font-size-code': 86%,
    'font-size-h1': 3.5rem,
    'font-size-h2': 2.875rem,
    'font-size-h3': 2.25rem,
    'font-size-h4': 1.75rem,
    'font-size-h5': 1.375rem,
    'font-size-h6': 1.125rem,
    'font-weight': 300,
    'font-weight-bold': bold,
    'font-weight-code': 700,
    'font-weight-h1': 100,
    'font-weight-h2': 200,
    'font-weight-h3': 300,
    'font-weight-h4': 400,
    'font-weight-h5': 500,
    'font-weight-h6': 600,
    'letter-spacing': 0.01rem,
    'letter-spacing-bold': inherit,
    'letter-spacing-code': 0.1rem,
    'letter-spacing-h1': -0.1rem,
    'letter-spacing-h2': -0.1rem,
    'letter-spacing-h3': -0.1rem,
    'letter-spacing-h4': -0.1rem,
    'letter-spacing-h5': -0.08rem,
    'letter-spacing-h6': -0.05rem,
    'line-height': 1.6,
    'line-height-bold': inherit,
    'line-height-code': inherit,
    'line-height-h1': 1.15,
    'line-height-h2': 1.2,
    'line-height-h3': 1.25,
    'line-height-h4': 1.3,
    'line-height-h5': 1.35,
    'line-height-h6': 1.5,
    'margin-code': 0 0.2rem,
    'margin-hx': 0 0 1rem,
    'margin-item': 1rem 0rem,
    'margin-p': 0 0 0.5rem,
    'padding-code': 0.2rem 0.5rem,
    'padding-header': 1rem 2rem,
    'padding-item': 1rem,
    'padding-main': 1rem 2rem,
    'padding-table-cell': 1.2rem 1.5rem,
  )
);
