@use '../../styles.scss' as *;

@mixin sassdoc-item($color) {
  @include border-color('color-mixin');
  @include border-width;
  @include height('sassdoc-item');
  background-color: rgba(token('color-mixin'), $alpha: 0.2);
  overflow: auto;
}

.item {
  &-function {
    @include border-color('color-mixin');
    @include border-width;
    @include height('sassdoc-item');
    background-color: rgba(token('color-mixin'), $alpha: 0.2);
    overflow: auto;
  }

  &-mixin {
    @include border-color('color-mixin');
    @include border-width;
    @include height('sassdoc-item');
    background-color: rgba(token('color-mixin'), $alpha: 0.2);
    overflow: auto;
  }

  &-placeholder {
    @include border-color('color-mixin');
    @include border-width;
    @include height('sassdoc-item');
    background-color: rgba(token('color-mixin'), $alpha: 0.2);
    overflow: auto;
  }

  &-variable {
    @include border-color('color-mixin');
    @include border-width;
    @include height('sassdoc-item');
    background-color: rgba(token('color-mixin'), $alpha: 0.2);
    overflow: auto;
  }
}
