@use '../../styles.scss' as *;

@mixin typography($element: '') {
  @if ($element == '') {
    @include font-weight;
    @include font-size;
    @include letter-spacing;
    @include line-height;
  } @else {
    @include font-weight($element);
    @include font-size($element);
    @include line-height($element);
    @include letter-spacing($element);
  }
}

@mixin code-snippet {
  @include background-color('code');
  @include border-radius('code');
  @include color('code');
  @include padding('code');
  @include typography('code');
  @include margin('code');
}

.text {
  @include font-family;
  @include typography;
  @include color('text');

  @at-root {
    strong#{&},
    b#{&} {
      @include typography('bold');
    }

    p#{&} {
      @include margin('p');
    }

    h1#{&},
    h2#{&},
    h3#{&},
    h4#{&},
    h5#{&},
    h6#{&} {
      @include margin('hx');
    }

    h1#{&} {
      @include typography('h1');
    }

    h2#{&} {
      @include typography('h2');
    }

    h3#{&} {
      @include typography('h3');
    }

    h4#{&} {
      @include typography('h4');
    }

    h5#{&},
    th#{&} {
      @include typography('h5');
    }

    code#{&},
    pre#{&} {
      @include code-snippet;
    }

    code#{&} {
      white-space: nowrap;
    }

    pre#{&} {
      white-space: pre;
    }
  }

  code,
  pre {
    @include code-snippet;
  }

  code {
    white-space: nowrap;
  }

  pre {
    white-space: pre;
  }

  strong,
  b {
    @include typography('bold');
  }
}
