@use '../../styles.scss' as *;

.parameters {
  table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
  }

  td,
  th {
    @include border-bottom('table-cell');
    @include padding('table-cell');
    width: 25%;
    box-sizing: border-box;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    min-width: 5rem;
  }

  td > * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
